{% extends 'app/base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-5 mx-auto shadow-lg">
		<div class="card-body">
			<h3>Change Password</h3>
			<form method="post">
				{% csrf_token %}
				<p>
					<label for="id_old_password">Old password:</label><input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" class="form-control my-2">
				</p>
				<p>
					<label for="id_new_password1">New password:</label><input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control my-2">
					<span class="helptext">
						<ul>
							<li>Your password can’t be too similar to your other personal information.</li>
							<li>Your password must contain at least 8 characters.</li>
							<li>Your password can’t be a commonly used password.</li>
							<li>Your password can’t be entirely numeric.</li>
						</ul>
					</span>
				</p>
				<p>
					<label for="id_new_password2">New password confirmation:</label><input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control my-2">
				</p>
				<div class="row">
					<div class="col">
						<a href="{% url 'hm' %}" class="btn btn-outline-secondary form-control my-2">Back</a>
					</div>
					<div class="col">
						<input type="reset" value="Reset" class="btn btn-outline-danger form-control my-2">
					</div>
					<div class="col">
						<input type="submit" name="Change Password" class="btn btn-outline-success form-control my-2">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}